@import 'accordion';

html{
  background: url(../images/header-bg.jpg) center;
}

// Header

#header{
  padding-bottom: 15px;
  .region-header{
    margin-top: 10px;
    overflow: hidden;
    padding-bottom: 5px;
    @include border-radius (5px);
  }
}

#site-name{
  margin: 0;
  padding-top: 20px;
  padding-left: 10px;
  h1{
   @include adjust-leading-to (0.5);
  }
}

#site-name a{
  font-family: "corner-store";
  font-weight: normal;
  @include adjust-font-size-to(20px);
  @include adjust-leading-to (0.5);
  margin-bottom: 0;
  margin-top: 0;
  color: #fff;
  @include shadow;
}

#site-slogan{
  margin: 0;
  color: $med-grey;
  letter-spacing: 1.5px;
  @include adjust-leading-to(0.5);
  @include adjust-font-size-to (10px);
  font-family: $sans-serif;
  font-weight: normal;
  text-transform: uppercase;
}

// Main Menu
/*
.menu-button {
  clear: both;
	padding: 1em;
	background: #000;
	color: #fff;
	background-image: url('../images/arrow-down.png');
	background-repeat: no-repeat;
	background-position: 93% 18px;
	cursor: pointer;
	@include border-radius (5px);
}
*/

#block-menu-block-3{
  background: #000;
  @include border-radius;
  width: 100%;
  overflow: hidden;
  ul.menu{
    padding: 10px;
    margin: 0;
    width: 100%;
    overflow: hidden;
  }
  li{
    @include adjust-font-size-to (13px);
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 48%;
    float: left;
    a{
      padding: 5px 10px;
      display: block;
      &:hover, &.active{
        color: #fff;
      }
    }
  }
}

#block-menu-menu-secondary-menu{
  display: none;
  ul{
    text-align: right;
    margin-right: 10px;
    font-family: $sans-serif;
    @include adjust-font-size-to (11px);
  }
  li{
    display: inline;
    padding: 0;
    margin-right: 10px;
    a{
      color: $med-grey;
    }
  }
}


// Content Prefix

#content-prefix{
  padding-top:5px;
  .breadcrumb{
    a{
      color: #898c74;
      @include adjust-font-size-to (10px);
    }
  }
}

// Main

#main{
  background: #fff url("../images/content-bg.jpg") repeat-x top;
  padding-bottom: 50px;
  padding-top: 30px;
}

// Sidebar

#sidebar-second{
  h2{
    font-family: $script-font;
    font-weight: normal;
    @include trailer (0.5);
    @include line;
  }
  ul{
    @include bullet-list;
    li.leaf, li.expanded, li.collapsed{
      list-style-image: none;
      list-style-type: none;
      background: url(../images/sketch-arrow.png) no-repeat 0 10px;
      padding-left: 24px;
      ul li{
        background: none;
        padding: 5px 0;
      }
      &:hover, &.active-trail{
        background: url(../images/sketch-arrow-hover.png) no-repeat 0 10px;
        ul li{
          background: none;
          a{
            color: #888;
            &.active, &:hover{
              color: #000;
            }
          }
        }
        a{
          color: #000;
        }
      }
      a{
        display: block;
      }
    }
    li ul li{
      @include adjust-font-size-to (12px);
      padding: 0;
      border-bottom: 1px dotted #ccc;
      padding: 5px 0;
      &.first{
        border-top: 1px dotted #ccc;
      }
      a{
        color: #666;
      }
    }
  }
  .pager li{
    background: none;
    border-bottom: none !important;
  }
  .view-news{
    .view-footer{
      padding-top: 10px;
      text-align: center;
      a{
        @include s-btn;
      }
    }
  }
}


// Search Block

#block-search-form{
  display: block;
  margin: 0;
  margin-top: 5px;
  .content{
    //margin-right: 10px;
  }
  #search-block-form{
    margin: 2px 0 0;
    float: right;
    #edit-search-block-form--2{
      background: #000;
      color: $med-grey;
      border: 1px solid #000;
      width: 100px;
      @include border-top-left-radius(10px);
      @include border-bottom-left-radius (10px);
      @include border-bottom-right-radius(0);
      @include border-top-right-radius(0);
      height: 30px;
    }
    .form-actions .form-submit{
      @include ir;
      background: #000 url("../images/search-button.png") no-repeat 50% 50%;
      width: 35px;
      height: 30px;
      border:none;
      box-shadow: none;
      float: left;
      margin-top: 0;
      margin-bottom: 0;
      @include border-top-right-radius(10px);
      @include border-bottom-right-radius(10px);
      @include border-top-left-radius(0);
      @include border-bottom-left-radius(0);
    }
  }
  .form-item-search-block-form{
    float: left;
    margin-top: 0;
    margin-bottom: 0;
  }
}

// Search Results

.search-results{
  padding: 0;
  li{
    border-bottom: 1px dotted #ccc;
  }
  .search-snippet-info{
    padding: 0;
  }
  .search-info{
    display: none;
  }
  h3{
    margin-bottom: 0;
    @include adjust-leading-to (0.8);
  }
}



// Homepage

#block-system-main{
  overflow: hidden;
  clear: both;
}

.pane-accordion-slider{
  display: none;
}

.pane-block-14{
  h1{
    display: none;
  }
  p{
    font-size: 1em;
  }
}

.pane-mobile-slider{
  .views-field-title{
    font-family: $script-font;
    text-align: center;
    @include adjust-font-size-to (24px);
    padding-top: 20px;
    padding-bottom: 10px;
  }
  .views-field-field-accordion-description{
    text-align: center;
    min-height: 100px;
    padding: 0 10px;
    @include adjust-font-size-to (14px);
    @include adjust-leading-to (1);
    p{
      margin: 0;
    }
  }
  .flexslider{
    .flex-control-nav li a{
      background: #333;
      border-radius: 8px;
      &.active{
        background: $main-accent;
      }
    }
  }
}

.front{
  .view-ads{
  padding: 30px 0;
    ul{
      margin:0;
      padding: 0;
      li{
        list-style-type: none;
        margin-left: 0;
        padding: 0;
        text-align: center;
      }
    }
  }
  .region-two, .region-three{
    margin-bottom: 30px;
    overflow: hidden;
  }
  .region-three{
    overflow: hidden;
    img{
      @include img-frame;
    }
  }
  .pane-news-panel-pane-4,
  .pane-events-panel-pane-3{
    padding-right: 20px;
  }
  
  .region-four{
    img{
      @include img-frame;
    }
  }
  .pane-block-13{
    ul li{
    margin-bottom: 3px !important;
    }
  }
  .pane-events-panel-pane-3{
    ul li.views-row{
      margin-bottom: 10px;
    }
    .views-field-title{
      font-size: 100%;
      line-height: 115%;
      h3{
        font-weight: normal;
        font-size: 100%;
        line-height: 115%;
        margin: 0;
      }
      a{
        color: $main-accent;
        &:hover{
          color: #000;
        }
      }
    }
  }
  .panel-pane{
    //padding-right: 20px;
    h2{
      @include line;
      margin-top: 0;
      @include adjust-font-size-to(15px);
    }
    @include list;
  }
  
  .views-field-title{
    line-height: 115%;
  }

  .views-field-field-tag-line, .views-field-field-date, .views-field-created, .views-field-field-date-time{
    @include adjust-font-size-to (10px);
    font-family: $sans-serif;
  }
  .views-field-field-date, .views-field-created, .views-field-field-date-time{
    font-style: italic;
    color: #999;
  }  
  .view-image-gallery li{
    border-bottom: none;
  }
}

// Homepage links

.front{
  .view-news, .view-events{
    .view-footer{
      a{
        @include s-btn;
      }
    }
  }
}

#mini-panel-things_to_do_upcoming_events_mine_panel{
  .view-header{
    a{
      @include s-btn;
    }
  }
}

// Facebook News Feed
/*
.pane-block-17{
  .pane-title{
    background: url("../images/line-light-grey-920.png") no-repeat 0 100% !important;
  }
  .news-item{
    //@include listing;
    padding: 20px;
    background: $light-green url("../images/listing-bg.jpg") 0 78%;
    border: 1px solid #d4e3da;
    h3{
      background: none;
      font-weight: normal;
    }
    .fb-date{
      p{
        padding-top: 0;
        margin-top: 0;
        background: url("../images/line-dark-grey.png") no-repeat left bottom;
        padding-bottom: 10px;
        @include adjust-font-size-to (12px);
      }
    }
    p{
      margin-top: 0;
      @include adjust-font-size-to (12px);
    }
    .photo img{
      //float: right;
      //margin-left: 10px;
      margin-bottom: 10px;
    }
    .photo{
      display: block;
      text-align: center;
    }
    .viewpost a{
      @include adjust-font-size-to (12px);
      color: #333;
      font-weight: bold;
    }
  }
}
*/


// Things to do page

.walk-popup{
  height: 150px;
  width: 160px;
}

.pane-things-to-do-panel-pane-2,
#block-views-walks-block{
  .btn{
    @include sassy-button ("simple", 3px, 18px, $dark-grey);
    font-size: 17px;
    padding: 5px 13px;
  }
}

.pane-events-panel-pane-1{
  .views-field-field-date{
    @include adjust-font-size-to (10px);
    font-family: $sans-serif;
    font-style: italic;
    color: #999;
  }
  .views-row{
    margin-bottom: 5px;
  }
}
// Walks View
.view-walks{
  @include list;
  ul li{
    height: auto;
    .field-name-body{
      @include adjust-font-size-to (12px);
    }
  }
  .field-name-node-link a{
    margin-top: 10px;
    @include ir;
    background: url(../images/read-more.png) no-repeat 0 0;
    width: 112px;
    height: 18px;
    &:hover{
      background-position: 0 100%;
    }
  }
}

// Walks Node

.node-walks-{
  .field-name-field-walk-image img{
    @include img-frame;
  }
}

// Accommodation View

#block-block-25{
  .btn{
    @include sassy-button ("simple", 3px, 18px, $dark-grey);
    font-size: 17px;
    padding: 5px 13px;
  }
}

.page-accommodation{
  #map-link{
    width: 137px;
    float: right;
    position: relative;
    top: 13px;
    .btn{
      @include sassy-button ("simple", 3px, 18px, $dark-grey);
    }
  }
  .view-local-directory{
    clear: both;
    .view-header{
      background: #f8f8f8;
      padding: 30px;
      margin-bottom: 30px;
      p{
        margin: 0;
      }
    }
    li{
      height: 170px;
      margin-left: 0;
      padding: 20px;
      background: $light-green url("../images/listing-bg.jpg") 0 78%;
      margin-bottom: 20px;
      border: 1px solid #d4e3da;
    }
    h2{
      a{
        color: $dark-grey;
      }
      @include line-dark;
      padding-bottom: 7px;
      margin-bottom: 10px;
    }
    .details{
      @include adjust-font-size-to (10px);
      @include adjust-leading-to (1.3);
      color: #555;
      ul{
        margin-top: 0;
        margin-bottom: 3px;
        li{
          width: 100%;
          height: auto;
          float: none;
          margin: 0 0 5px 0;
          display: block;
          padding: 0;
          padding-left: 15px;
          border: none;
        }
        li.phone{
          background: url("../images/phone-icon.png") no-repeat left 2px;
        }
        li.address{
          background: url("../images/address-icon.png") no-repeat left 2px;
        }
      }
      a{
        @include ir;
        background: url(../images/read-more.png) no-repeat 0 0;
        width: 112px;
        height: 18px;
        &:hover{
          background-position: 0 100%;
        }
      }
    }
    .views-field-field-business-slideshow-images{
      img{
        @include img-frame;
      }
    }
  }
}

// Accommodation Map

.popup-inner{
  height: 150px;
}

// News Node

.node-type-news{
  #page-title{
    @include trailer (0);
  }
}

.node-news{
  .field-name-submitted-by{
    @include adjust-font-size-to (10px);
    font-family: $sans-serif;
    color: #999;
    @include trailer (1);
  }
  .field-name-field-news-image{
    float: right;
    margin-left: 20px;
    img{
      @include img-frame;
    }
  }
}


// News Block

#sidebar-second{
  .view-news{
    .views-field-created{
      @include adjust-font-size-to (10px);
      font-family: $sans-serif;
      color: #999;
    }
    ul li{
      margin-bottom: 10px;
      padding-bottom: 10px;
      border-bottom: 1px dotted #ccc;
    }
  }
}

// Sidebar Ads

#sidebar-second{
  .view-ads{
    margin-top: 20px;
    ul{
      li{
        background: none;
        padding: 0;
        margin-bottom: 20px
      }
    }
  }
}

// Community News Page

.page-community-news{
  .view-news{
    ul{
      margin: 0;
      padding: 0;
      li{
        list-style-type: none;
        margin: 0;
        padding: 0;
      }
    }
    h3{
      margin-bottom: 5px;
      font-size: 1.2em;
      line-height: 100%;
    }
    .views-field-field-tag-line{
      font-size: 0.9em;
    }
    .views-field-field-news-body{
      font-size: 0.9em;
    }
  }
}

// Event Node

.node-event{
  .field-name-field-date{
    margin-bottom: 5px;
    @include adjust-font-size-to (15px);
    .label-inline{
      float: left;
      font-weight: bold;
    }
  }
  .field-name-field-description{
    margin-bottom: 20px;
  }
  .field-name-field--event-image img{
    @include img-frame (10px);
  }
  .group-left{
    padding-right: 20px;
  }
}


// Local Directory

.view-a-z-business-lisitings{
  a{
    color: $green;
  }
  .directory-list{
    ul{
      padding: 0;
      margin: 0;
      li{
        margin-left: 0;
        height: 170px;
        padding: 20px;
        background: $light-green url("../images/listing-bg.jpg") 0 78%;
        margin-bottom: 10px;
        border: 1px solid #d4e3da;
      }
    }
  }
  .view-content{
    h3{
      @include adjust-leading-to (1);
      margin-bottom: 5px;
      border-bottom: 1px dotted #d4e3da;
      padding-bottom: 5px;
      margin-top: 0;
      @include line-dark;
    }
    .views-field-view-node a{
      margin-top: 10px;
      @include ir;
        background: url(../images/read-more.png) no-repeat 0 0;
        width: 112px;
        height: 18px;
        &:hover{
          background-position: 0 100%;
        }
    }
    .views-field-field-business-facebook-page{
      width: 45px;
      float: right;
      margin-left: 5px;
      margin-top: 6px;
    }
    .views-field-field-business-phone{
      background: url("../images/phone-icon.png") no-repeat left 2px;
    }
    .views-field-field-business-address-line1{
      background: url("../images/address-icon.png") no-repeat left 2px;
    }
    .views-field-field-business-email{
      background: url("../images/email-icon.png") no-repeat left 2px;
      a{
        color: $dark-grey;
        &:hover{
          text-decoration: underline;
        }
      }
    }
    .views-field-field-business-website{
      background: url("../images/website-icon.png") no-repeat left 2px;
      a{
        color: #000;
        &:hover{
          text-decoration: underline;
        }
      }
    }
    .views-field-field-business-phone,
    .views-field-field-business-address-line1,
    .views-field-field-business-email,
    .views-field-field-business-website{
      padding-left: 20px;
      @include adjust-font-size-to (11px);
    }
    .views-field-field-business-email{
      word-break: break-all;
    }
    .views-field-view-node{
      a{
        @include adjust-font-size-to (11px);
        font-weight: bold;
      }
    }
  }
  .view-filters{
    margin-bottom: 20px;
    .form-type-bef-link {
      display: inline-block;
      margin-bottom: 3px;
      height: 40px;
      a{
        padding: 10px 8px 10px 10px;
        display: block;
        color: #fff;
        background: url("../images/button-right.png") no-repeat right center;
        span{
          background: url("../images/button-left.png") no-repeat left center;
          display: block;
          padding: 10px 5px 10px 10px;
        }
        &:hover{
          color: #702a2b;
        }
      }
    }
    .selected{
      a{
        background: url(../images/green-btn-right.png) no-repeat right center;
        color: #5f773c;
        &:hover{
          color: #000;
        }
        span{
          background: url(../images/green-btn-left.png) no-repeat left center;
        }
      }
    }
  }
  .views-exposed-form .views-submit-button{
    display: none;
  }
  .views-exposed-form .views-reset-button input{
    @include sassy-button ("simple", 3px, 12px, #ccc);
    margin-top: 0;
  }
}

.view-local-directory{
  clear: both; 
  ul{
    padding: 0;
  }
  h2{
    @include adjust-font-size-to(14px);
    @include adjust-leading-to(1);
    margin: 0;
  }
}

.page-local-directory{
  h1#page-title{
    margin-bottom: 0;
  }
}

// Things to do

.page-events{
  .pane-events-panel-pane-1{
    ul{
      margin: 0;
      padding: 0;
      list-style-type: none;
      li{
        margin: 0 0 5px 0;
        padding: 0;
        list-style-type: 0;
      }
    }
  }
  #block-system-main{
    .pane-panels-mini{
      img{
        @include img-frame;
      }
    }
  }
}

// Food & Wine

.page-food-wine{
  .view-local-directory{
    li{
      @include listing;
    }
    h2{
      @include line;
      padding-bottom: 3px;
      margin-bottom: 12px;
      @include adjust-font-size-to (18px);
      @include adjust-leading-to (1);
    }
    p.description{
      @include adjust-font-size-to (12px);
      margin-bottom: 0;
      margin-top: 7px;
    }
    .views-field-field-business-images{
      width: 150px;
      float: right;
      margin-left: 20px;
      img{
        @include img-frame;
      }
    }
  }
}

//Script font for main landing pages
.page-local-directory, .page-node-736, .page-node-133, .page-node-729, .page-node-756{
  h1#page-title{
    font-family: $script-font;
    font-weight: normal;
    margin-bottom: 0;
    font-size: 2em;
  }
}


#block-block-5, #block-block-3, #block-block-4{
  h1{
    font-family: $script-font;
    font-weight: normal;
    margin-bottom: 0;
    font-size: 2em;
  }
  p{
    @include trailer(1.5);
  }
}


// Listing Node

.flex-control-nav{
  bottom: 8px;
}
.flex-direction-nav{
  display: none;
}
.flex-nav-container{
  margin-bottom: 30px;
  margin-top: 0;
}
.flexslider{
  background: none;
  border: none;
  border-radius: none;
}
.field-name-field-business-slideshow-images{
  img{
    @include img-frame;
    padding: 10px !important;
  }
}
.node-type-business-lisiting{
  .field-name-title h2{
    @include line;
  }
}
.field-name-field-business-description{
  p{
    margin-top: 0;
    @include adjust-font-size-to (13px);
    @include adjust-leading-to (1.3);
  }
}
.group_business_details{
  background: $light-green;
  padding: 6%;
  margin-bottom: 15px;
  border: 1px solid #d4e3da;
  @include adjust-font-size-to (12px);
  a{
    color: $dark-grey;
    &:hover{
      text-decoration: underline;
    }
  }
  h3{
    margin-top: 0px;
    @include adjust-font-size-to (20px);
    @include trailer (0.5);
    font-weight: normal;
    border-bottom: 1px dotted #ccc;
  }
  .address-1{
    background: url("../images/address-icon.png") no-repeat left 2px;
    padding-left: 18px;
  }
  .address-2{
    padding-left: 18px;
    border-bottom: 1px dotted #ccc;
    padding-bottom: 5px;
    margin-bottom: 7px;
  }
  .field-name-conditional-address{
    background: url("../images/address-icon.png") no-repeat left 2px;
    padding-left: 18px;
    border-bottom: 1px dotted #ccc;
    padding-bottom: 5px;
    margin-bottom: 7px;
  }
  .phone{
    background: url("../images/phone-icon.png") no-repeat left 2px;
    padding-left: 18px;
    border-bottom: 1px dotted #ccc;
    padding-bottom: 5px;
    margin-bottom: 5px;
  }
  .fax{
    background: url("../images/fax-icon.png") no-repeat left 2px;
    padding-left: 18px;
    border-bottom: 1px dotted #ccc;
    padding-bottom: 5px;
    margin-bottom: 7px;
  }
  .email-address{
    background: url("../images/email-icon.png") no-repeat left 4px;
    padding-left: 18px;
    word-break: break-all;
    border-bottom: 1px dotted #ccc;
    padding-bottom: 5px;
    margin-bottom: 5px;
  }
  .website{
   background: url("../images/website-icon.png") no-repeat left 2px;
   padding-left: 18px;
   border-bottom: 1px dotted #ccc;
   padding-bottom: 5px;
   margin-bottom: 5px;
  }
  .mobile{
   background: url("../images/mobile-icon.png") no-repeat left 4px;
   padding-left: 18px;
   border-bottom: 1px dotted #ccc;
   padding-bottom: 5px;
   margin-bottom: 5px;
  }
}

.geofieldMap *{
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.geofieldMap img{
  max-width: none;
}

#colorbox {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.service-links{
  padding: 10px 0;
  height: 50px;
  overflow: hidden;
  iframe{
    vertical-align: top;
  }
  #___plusone_0{
    vertical-align: top !important;
    margin-left: 5px !important;
  }
  .service-links-print{
    margin-right: 5px;
  }
}
.region-two-66-33-second, .region-two-66-33-first{
  margin-bottom: 20px;
}

.region-two-66-33-bottom{
  margin-top: 20px;
}

// Add Event

// Fieldset styles


fieldset{
  position: relative;
  border: none;
  margin: 0;
  padding: 0;
}

.fieldset-wrapper{
  margin-top: 33px;
  padding-top: 10px;
  //border-top: 1px dotted #ccc;
  //background: url("../images/line-light-grey.png") repeat-x left top; 
}

legend{
  float: left;
}

legend span{
  position: absolute;
  top: 0;
  left: 0;
}

#event-node-form{
  .fieldset-legend{
    font-weight: bold;
    @include adjust-font-size-to (17px);
  }
  .field-name-field-date{
    position: relative;
    .fieldset-wrapper{
      background: none;
      margin-top: 20px;
      padding-top: 0;
    }
    .fieldset-legend{
      display: none;
    }
    .date-padding{
      padding: 0;
    }
  }
  .date-no-float{
    padding-bottom: 20px;
  }
  .form-item{
    label{
      font-weight: bold;
    }
  }
  .form-item-field-date-und-0-show-todate{
    position: absolute;
    bottom: 0px;
    left:0;
    label{
      font-weight: normal;
    }
  }
}

// Add Business Listing

#business-lisiting-node-form{
  #edit-field-business-description{
    .cke_1{
      display: none;
    }
  }
  .group_business_details{
    background: none;
    padding: 0;
    border: none;
    font-size: inherit;
    line-height: inherit;
  }
  #node_business_lisiting_form_group_address_physical{
  }
  fieldset{
    padding: 20px;
    border: 1px solid #ccc;
    margin-bottom: 30px;
  }
  legend{
    position: relative;
    top: 0;
    width: 100%;
    left: 0;
    font-weight: bold;
  }
  .fieldset-wrapper{
    margin-top: 0;
    padding-top:30px;
  }
}

// Hide some fields not relevant to anon users
.not-logged-in{
  #business-lisiting-node-form{
    #edit-field-listing-type,
    #edit-field-business-description-und-0-format,
    #edit-field-this-listing-is-a-regular-,
    #edit-field-business-images,
    #edit-field-business-slideshow-images{
      display: none;
    }
  }
}

// Add news page

#news-node-form{
  .form-item-field-news-body-und-0-value{
     .cke_1{
      display: none;
    }
  }
  #edit-field-news-body-und-0-format{
    display: none;
  }
  #edit-field-news-image,
  #edit-field-news-file-attachements{
    display: none;
  }
}

.page-dashboard{
  .two-66-33{
    font-family: $sans-serif;
  }
  .views-table{
    @include adjust-font-size-to (11px);
  }
  table{
      width: 100%;
      td{
        padding: 8px;
      }
      tr.even, tr.odd{
        background: #fff;
        border-bottom: 1px solid #ccc;
      }
    }
    fieldset.collapsible .fieldset-legend{
      display: none;
    }
    .vbo-views-form{
      #edit-select,
      #edit-select--2,
      #edit-select--3{
        position: absolute;
        bottom: 20px;
        left:20px;
      }
      .fieldset-wrapper{
        margin: 0;
        padding: 0;
      }
    }
    .form-submit{
      /*background: #fff;
      border: 1px solid #ccc;
      padding: 15px 20px;
      border-radius: 5px;
      margin-right: 3px;
      &:hover{
        cursor: pointer;
        background: #ccc;
      }*/
      @include sassy-button ("simple", 8px, 12px, #333);
      @include adjust-font-size-to (13px);
      margin-right: 5px;
    }
    .panel-pane{
      border: 1px solid #ccc;
      background: #f0f0f0;
      padding: 20px 20px 50px 20px;
      margin-bottom: 20px;
      border-radius: 10px;
      position: relative;
      .pane-title{
        margin: 0 0 10px 0;
      }
    }
}

// Footer

#footer{
  background: #f8f8f8 url("../images/paper-bg.png");
  border-top: 1px solid #E3E3E0;
  color: $med-grey;
  padding: 30px 0 40px 0;
  .block{
    h2{
      @include line;
      @include adjust-font-size-to (13px);
      padding-bottom: 6px;
      margin-bottom: 10px;
      color: $dark-grey;
    }
    a{
      color: $med-grey;
      &:hover{
        color: $dark-grey;
      }
    }
    ul{
      @include bullet-list;
      li{
        margin-bottom: 3px;
      }
    }
  }
  .view-image-gallery{
    ul li{
      background: none;
      padding: 0;
      img{
        @include img-frame (2px);
      }
    }
  }
  .content{
    @include adjust-font-size-to (13px);
  }
  #block-block-13{
    p{
      margin-bottom: 0;
    }
    h3{
      color: $dark-grey;
      @include adjust-font-size-to (20px);
      @include adjust-leading-to (1);
      margin-top:5px;
    }
  }
  #block-block-9{
    iframe{
      @include img-frame (0px);
    }
  }
  .weather{
    @include list;
    @include img-frame;
    .weather-icon{
      width: 115px;
      margin: auto;
    }
    .weather-info{
      text-align: center;
      @include adjust-font-size-to (16px); 
      line-height: 140%;
      margin-top: -10px;
      li{
        margin-bottom: 0;
        background: none;
      }
    }
    .weather-updated{
      clear: both;
      display: block;
      text-align: center;
      color: #BBB;
      font-family: Arial;
      padding-bottom: 10px;
      @include adjust-font-size-to (11px);
    }
  }
}

#block-block-23{
  text-align: center;
  h3{
    //font-family: $script-font;
    color: #000;
    font-size: 21px;
    line-height: 22px;
    margin-bottom: 5px;
    span{
      font-size: 13px;
      font-weight: normal;
    }
  }
}

#block-menu-menu-footer-menu-mobile .content{
  ul{
    list-style-type: none;
    li{
      margin: 0;
      padding: 0;
      background: none;
      width: 48%;
      float: left;
      list-style-type: none;
      list-style-image: none;
      a{
        border: 1px solid $main-accent;
        padding: 10px;
        margin: 3px;
        border-radius: 3px;
        display: block;
        &:hover{
        border: 1px solid #333;
      }
      }
    }
  }
}

// Block to hide from mobile users
#block-block-9,
#block-weather-system-1,
#block-block-23,
#block-block-6,
.pane-block-19{
  display: none
}

#footer-bottom{
  padding: 30px 0;
  color: #999;
  font-family: $sans-serif;
  p{
    margin: 0;
    @include adjust-font-size-to (11px);
  }
  a{
    color: #ccc;
    &:hover{
      color: #fff;
    }
  }
}



