////////////////////////
// Layout Partials
//
// Seperate your layout from design, building sub folders and partials
//  in this folder, with everything being imported, in casading order,
//  into this file.
//
// All box model properties go here
////////////////////////

.container{
  @include container;
  @include susy-grid-background;
}

// Header
#header{
  #name-and-slogan{
    @include span-columns (12, 24);
  }
  .header-region-wrapper{
    @include span-columns (12 omega, 24);
  }
  #block-menu-block-3{
    clear: both;
  }
}

// Homepage Row 3
.region-three .panel-pane{
  /*@include span-columns (12, 24);
  &:nth-child(2n){
      @include omega;
  }*/
  width: 49%;
  display: inline-block;
  vertical-align: top;
}

// 500 and up
@include breakpoint ($breakpoint-small-and-up){
  
  // Sidebar

  .sidebar-second{
    #content{
      @include span-columns (18, 24);
      @include suffix(1);
    }
    #sidebar-second{
      @include span-columns (6 omega, 24);
    }
  }
  
  .explore-clevedon-section{
      .sidebar-second{
    #content{
      @include span-columns (18, 24);
    }
    #sidebar-second{
      @include span-columns (6 omega, 24);
      @include prefix(1);
    }
  }

  }

  .front #content{
    @include suffix (0);
  }

  // Header
  #header{
    #name-and-slogan{
      @include span-columns (4, 24);
    }
    .header-region-wrapper{
      @include span-columns (20 omega, 24);
    }
    .region-header{
      margin-left: 20px;
    }
    #block-menu-block-3{
      clear: both;
      .menu{
        padding: 5px 4px 4px 10px;
      }
      li{
        width: auto;
        float: none;
        @include adjust-font-size-to (15px);
        a{
          padding: 5px 10px; 
        }
      }
    }
  }
  
  // Homepage
  
  .pane-block-14{
    h1{
      display: block !important;
    }
    p{
      font-size: 22px !important;
      line-height: 140% !important;
    }
  }
  
  .front .panel-pane h2{
    @include adjust-font-size-to(18px);
  }

  .front{
    .view-ads{
      ul{
        li{
          @include span-columns (8, 24);
          @include nth-omega(3n);
        }
      }
    }
    // Row 2
    .pane-block-14{
      @include span-columns (12, 24);
    }
    .pane-block-8{
      @include span-columns (12 omega, 24);
      margin-top: 20px;
      padding-right: 0 !important;
    }
    
    
    
    // Row 4
    .pane-block-12{
      @include span-columns (12, 24);
    }
    .pane-block-19{
      @include span-columns (12 omega, 24);
    }
    
    
    // Clear Rows
    .region-three, .region-four{
      clear: both;
    }
  }
  
  // Local Directory
  .view-local-directory{
    ul li{
      @include span-columns (8, 24);
      &:nth-child(3n){
        @include omega;
      }
      .views-field-field-business-slideshow-images{
        @include span-columns (4, 8);
      }
      .details{
        @include span-columns (4 omega, 8);
      }
    }
  }  

   .view-a-z-business-lisitings{
    ul li{
      @include span-columns (8, 24);
      &:nth-child(3n){
        @include omega;
      }
    }
  } 


  // Food & Wine
  .page-food-wine .view-local-directory{
    ul li{
      @include span-columns (8, 24);
      &:nth-child(3n){
        @include omega;
      }
    }
    
  }
  

  // Listing Node
  .node-type-business-lisiting{
    .region-two-66-33-first{
      @include span-columns (10, 17);
      @include suffix (1);
    }
    .region-two-66-33-second{
      @include span-columns (7 omega, 17);
    }
    .region-two-66-33-bottom{
      clear: both;
    }
  }
    
  // Things to do page (3 cols)
  .page-events{
    .panel-pane{ 
      @include span-columns (8, 24);
      @include nth-omega (3n);
      .panel-pane{
        @include reset-columns;
      }
    }
  }
  
  //Dashboard
  .page-dashboard{
    .region-two-66-33-first{
      @include span-columns (16, 24);
      @include suffix (1);
    }
    .region-two-66-33-second{
      @include span-columns (8 omega, 24);
    }
  }

  // Footer
  #footer{
    .block{
      @include span-columns (12, 24);
      @include nth-omega(2n);
      padding-right: 20px;
    }
    #block-menu-menu-footer-menu-mobile{
      display: none;
    }
    #block-block-9,
    #block-weather-system-1,
    #block-block-23,
    #block-block-6,
    .pane-block-19{
      display: block;
    }
    #block-views-image-gallery-block-1{    
      .view-image-gallery{
        li{
          @include span-columns (2, 6);
          //@include nth-omega (3n);
          &:nth-child(3n){
            @include omega;
          }
        }
      }
    }
  }
}

// 800 and up
@include breakpoint ($breakpoint-large-and-up){
  #block-menu-block-3{
    ul.menu{
      margin: 3px 0 0 16px;
    }
  }
  #block-menu-menu-secondary-menu{
    display: block !important;
  }
  .pane-block-14 p{
    padding-right: 60px;
  }
  
  //Homepage
  .pane-accordion-slider{
    display: block !important;
  }
  
  .pane-mobile-slider{
    display: none;
  }
  
  
  // Row 3
  .region-three .panel-pane{
    @include remove-nth-omega(2n);
    @include span-columns (6, 24);
    @include nth-omega(4n);
  }
  
  .front{
    .pane-events-panel-pane-4,
    .pane-block-12{
      padding-right: 20px;
    }
  }
  
  #footer{
    .block{
      @include remove-nth-omega(2n);
      @include span-columns (6, 24);
      @include nth-omega(4n);
      padding-right: 20px;
    }
  }
}
