/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .more-link, etc.
 */


/* Wrappers */
html {
}


body {
}


/* Page wrapper, includes the .container class which sets the overall page or
   section width */
#page  {
}


/* Main site header */
#header {
}


/* Wraps the 3 vertical columns - content, sidebar-first and sidebar-second */
#columns {
}


/* Floats the main content column */
#content-column {
}


/* Wraps the main-content-header, the content region and feed-icons. Use this
   wrapper to style the entire main content column */
#main-content  {
}


/* Wraps the content region, avoid applying styles to this wrapper, its used
   mainly for position and invisible gutters and can be problematic to style */
#content {
}


/* Main site footer. */
#footer {
}


/* Region wrapper, anything that adds width or positioning can break the layout! */
.region {
}


/* Add borders or other width to the region-inner */
.region-inner {
}


/* Regions can be nested, such as when using Panels module */
.region-inner .region-inner  {
}


/* Gutters - if gutters are set in theme settings they will override these
   values: see Extensions > Modify Output > Design */
#main-content,
.block-inner,
.pane-inner,
.menu-wrapper,
.branding-elements,
.breadcrumb-wrapper,
.attribution,
.at-panel .rounded-corner,
div.messages {
  margin-left: 10px;
  margin-right: 10px;
}
/* Panel pages need negative margin equal to the gutter width applied to #content,
  this is taken care of in theme settings as per above for normal gutters */
.page-panels #content {
  margin-left: -10px;
  margin-right: -10px;
}


/* AT Panels may need additional margin wrangling when in the content region */
#content .at-panel {
}


/* Logo */
#logo {
  padding: 10px 0;
}


#logo img {
  vertical-align: bottom;
}


/* hgroup wrapper for website name and slogan, be careful with display properties
   as this can be hidden */
#name-and-slogan {
}


/* The name of the website */
#site-name {
}


#site-name a:link,
#site-name a:visited {
  text-decoration: none;
}


#site-name a:hover,
#site-name a:focus {
  text-decoration: underline;
}


/* The slogan (or tagline) of a website. */
#site-slogan {
}


/* Wrapper for any blocks placed in the header region. */
.region-header {
}


/* Highlighted region */
.region-highlighted {
}


/* Wraps the page title, tabs and actions links. */
#main-content-header {
}


/* The title of the page. */
h1#page-title {
}


/* Important messages (status, warning, and error) for the user. See also the
   declarations in messages.css. */
div.messages  {
  margin: 1.5em 10px; /* Drupal core uses "6px 0" margin */
}


/* Multiple message of the same type are output as a list */
div.messages ul {
  margin-top: 0;
  margin-bottom: 0;
}


/* Normal priority messages */
div.status {
}


/* Medium priority messages */
div.warning,
tr.warning  {
}


/* High priority messages. See also the .error declaration below */
div.error,
tr.error  {
}


/* Errors that are separate from div.messages status messages */
.error {
}


/* Warnings that are separate from div.messages status messages */
.warning {
}


/* Unpublished nodes - set here to supply a global style in one place */
.node-unpublished,
.comment-unpublished {
}


/* The word "Unpublished" displayed underneath the content */
.node-unpublished p.unpublished,
.comment-unpublished p.unpublished {
  color: pink; /* target browsers that do not support rgba */
  color: rgba(239, 170, 170, 0.4);
  font-family: Impact, Haettenschweiler, 'Franklin Gothic Bold', Charcoal, 'Helvetica Inserat', 'Bitstream Vera Sans Bold', 'Arial Black', sans-serif;
  font-size: 50px;
  font-weight: 700;
  line-height: 1.2;
  height: 0;
  margin: 0;
  padding: 0;
  overflow: visible;
  text-align: center;
  text-transform: uppercase;
  word-wrap: break-word;
}


/* Otherwise these elements will appear below the "Unpublished" text. */
.lt-ie8 .node-unpublished > *,
.lt-ie8 .comment-unpublished > * {
  position: relative;
}


/* Help text on a page */
.region-help {
}


/* Link to more help */
.more-help-link  {
}


/* Wrapper for the actual page content */
.region-content {
}


/* Akin to a content-bottom region */
.region-aside {
}


/* List of links generated by theme_links(). */
ul.links  {
  margin: 0;
  padding: 0;
}


/* Let the links be inline, but the container be a block. */
ul.links.inline {
  display: block;
}


ul.links li {
  display: inline;
  list-style-type: none;
  padding: 0 10px 0 0; /* LTR */
}


/* The link to the RSS or Atom feed for the current list of content */
.feed-icon {
}


/* Aggregator, blog, and forum more link */
.more-link  {
}


/* Aggregator feed source */
#aggregator .feed-source .feed-icon {
  display: inline;
  float: none;
  margin-right: 10px;
}
.feed-details dt,
.feed-details dd {
  display: inline;
  margin: 0;
} 


/* Search results are an ordered list so we reset the margin */
.search-results  {
  margin: 0;
}


/*
 * First sidebar
 * Remember to NOT add padding or margin to your .region-sidebar-first.
 */

.region-sidebar-first {
}


/*
 * Second sidebar
 * Remember to NOT add padding or margin to your .region-sidebar-second.
 */

.region-sidebar-second {
}


/*
 * Full Width Wrappers - these are used in the optional
 * page--full-width-wrappers.tpl.php template.
 */

#page-wrapper {
}


#leaderboard-wrapper {
}


#header-wrapper {
  background: #ddd; /* Debug style, is this working? */
}


#nav-wrapper {
}


#breadcrumb-wrapper {
}


#messages-help-wrapper {
}


#secondary-content-wrapper {
}


#content-wrapper {
}


#tertiary-content-wrapper {
}


#footer-wrapper {
  background: #666; /* Debug style, is this working? */
  color: #fff; /* Debug style, is this working? */
}


/* Devel Module */
.dev-query {
  background: #eee;
  padding: 30px;
}
