/**
 * @file
 * Comment Styling
 */


/* Wrapper for the list of comments and its title */
#comments {
  margin: 1.5em 0;
}


/* Heading for the list of comments */
#comments h2.comment-title {
}


/* Heading for the comment form */
#comments h2.comment-form {
}


/* Wrapper for a single comment */
.comment {
  margin-bottom: 20px;
}


/* Preview of the comment before submitting new or updated comment */
.comment-preview {
  background-color: #ffffea;
}


/* The first comment in the list of comments */
.comment.first {
}


/* The last comment in the list of comments */
.comment.last {
}


/* An odd-numbered comment in the list of comments */
.comment.odd {
}


/* An even-numbered comment in the list of comments */
.comment.even {
}


/* Comment is new for the current user */
.comment-new {
}


/* A comment created by an anonymous user */
.comment-by-anonymous {
}


/* A comment created by the node's author */
.comment-by-node-author {
}


/* A comment created by the current user */
.comment-by-viewer {
}


/* The comment title is hidden using element-invisible */
.comment-title-hidden {
}


/* Comment user picture are enabled */
.comment-with-picture {
}


/* User signatures are enabled */
.comment-with-signature {
}


/* Comment title */
h3.comment-title {
}


/* "New" marker for comments that are new for the current user */
.new {
  color: #c00;
}


/* The picture of the comment author */
.comment .user-picture {
}


/* The "posted by" information wrapper (uses the footer element) */
.comment .submitted {
}


/* Submitted by elements are wrapped in a paragraph, is the equivalent to .comment footer.submitted > p */
.comment .submitted p {
}


/* Submitted by user name is wrapped in a span or an link depending on user permissions to view user profiles */
.comment .submitted .username {
}


/* Submitted by time element */
.comment .submitted time  {
}


/* The user's signature */
.comment .user-signature {
}


/* Comment links. See also the ul.links declaration in the pages.css. */
.comment ul.links {
}


/* Nested comments are indented */
.indented {
  /* margin-left: 25px; */ /* Drupal core uses a 25px left margin */
}
