////////////////////////
// Mixins Partials
//
// All of your mixins should go in this file.
////////////////////////

@mixin img-frame($padding: 4px){
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  padding: $padding;
}

@mixin font-size($font-size: 16){
  font-size : #{$font-size}px;
  font-size : #{$font-size / 10}rem;
}

@mixin ir {
  // Kellum Method
  display: block !important;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  // Additional helpers
  border: 0;                     // Remove the default border from elements like <button>
  font: 0/0 a;                   // Crush the text down to take up no space
  text-shadow: none;             // Remove any text shadows
  color: transparent;            // Hide any residual text in Safari 4 and any mobile devices that may need it
  background-color: transparent; // Hide the default background color on elements like <button>
}

// Bullet list
@mixin bullet-list{
  list-style-type: none;
  margin: 0;
  padding: 0;
  li{
    padding-left: 8px;
    margin: 0;
    background: url("../images/bullet.png") no-repeat left 7px;
  }
}


// Sketcy line

@mixin line{
  background: url("../images/line-light-grey.png") no-repeat left bottom;
}

@mixin line-dark{
  background: url("../images/line-dark-grey.png") no-repeat left bottom;
}

// Text Shadow

@mixin shadow{
  text-shadow:(1px 1px 1px rgba(0,0,0,.8));
}

@mixin zero{
  padding: 0;
  margin: 0;
}

@mixin divider{
  background: url("../images/divider-shadow.png") no-repeat center top;
  border-top: 1px solid #E8E8E7;
}

// Remove padding, margin & bullets from lists
@mixin list{
  ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    li{
      margin: 0 0 10px 0;
      padding: 0;
      list-style-type: none;
    }
  }
}

// Listing Grid

@mixin listing{
  height: 170px;
  margin-left: 0;
  padding: 20px;
  background: $light-green url("../images/listing-bg.jpg") 0 78%;
  margin-bottom: 20px;
  border: 1px solid #d4e3da;
  a{
    color: $green;
  }
  h2, h3{
    @include adjust-leading-to (1);
    margin-bottom: 5px;
    border-bottom: 1px dotted #d4e3da;
    padding-bottom: 5px;
    margin-top: 0;
    @include line-dark;
  }
  .views-field-view-node a{
    margin-top: 10px;
    @include ir;
    background: url(../images/read-more.png) no-repeat 0 0;
    width: 112px;
    height: 18px;
    &:hover{
      background-position: 0 100%;
    }
  }
}

// Subtle button

@mixin s-btn{
    padding: 2px 5px 1px;
    border: 1px solid #B9BD9C;
    border-radius: 3px;
    margin-right: 5px;
    @include adjust-font-size-to (10px);
    &:hover{
      border: 1px solid #333;
    }
}

