/* Clevedon Colour Scheme */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/clevedon\/sites\/all\/themes\/clevedon\/sass\/global\.styles\.scss}line{font-family:\000035}}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/clevedon\/sites\/all\/themes\/clevedon\/sass\/global\.styles\.scss}line{font-family:\000039}}
html {
  background: white;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/clevedon\/sites\/all\/themes\/clevedon\/sass\/global\.styles\.scss}line{font-family:\0000313}}
body {
  font-family: "Trebuchet MS", "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 87.5%;
}

/* =============================================================================
 *   HTML Elements
 * ========================================================================== */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/clevedon\/sites\/all\/themes\/clevedon\/sass\/global\.styles\.scss}line{font-family:\0000325}}
a {
  color: #0082CC;
  text-decoration: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/clevedon\/sites\/all\/themes\/clevedon\/sass\/global\.styles\.scss}line{font-family:\0000330}}
h1#page-title {
  border-bottom: 1px dotted #ccc;
}

/* =============================================================================
 *   Header
 * ========================================================================== */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/clevedon\/sites\/all\/themes\/clevedon\/sass\/global\.styles\.scss}line{font-family:\0000340}}
#header-wrapper {
  background: #f6f6f6;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/clevedon\/sites\/all\/themes\/clevedon\/sass\/global\.styles\.scss}line{font-family:\0000344}}
#header {
  padding: 20px 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/clevedon\/sites\/all\/themes\/clevedon\/sass\/global\.styles\.scss}line{font-family:\0000348}}
#branding {
  width: 185px;
  float: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/clevedon\/sites\/all\/themes\/clevedon\/sass\/global\.styles\.scss}line{font-family:\0000353}}
.region-header {
  width: 79%;
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/clevedon\/sites\/all\/themes\/clevedon\/sass\/global\.styles\.scss}line{font-family:\0000356}}
.region-header .block-superfish {
  width: 75%;
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/clevedon\/sites\/all\/themes\/clevedon\/sass\/global\.styles\.scss}line{font-family:\0000359}}
.region-header .block-superfish .block-inner {
  margin: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/clevedon\/sites\/all\/themes\/clevedon\/sass\/global\.styles\.scss}line{font-family:\0000363}}
.region-header .block-search {
  width: 24%;
  float: left;
}

/* Search Bar */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/clevedon\/sites\/all\/themes\/clevedon\/sass\/global\.styles\.scss}line{font-family:\0000373}}
.block-search .form-type-textfield input {
  border: 1px solid #ccc;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  padding: 7px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/clevedon\/sites\/all\/themes\/clevedon\/sass\/global\.styles\.scss}line{font-family:\0000380}}
.block-search .form-actions .form-submit {
  margin-top: 5px;
}

/* SuperFish Menu */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/clevedon\/sites\/all\/themes\/clevedon\/sass\/global\.styles\.scss}line{font-family:\0000388}}
#nav-wrapper {
  clear: both;
  background: #f6f6f6;
  margin-bottom: 20px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/clevedon\/sites\/all\/themes\/clevedon\/sass\/global\.styles\.scss}line{font-family:\0000394}}
.sf-menu.sf-style-default {
  margin-bottom: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/clevedon\/sites\/all\/themes\/clevedon\/sass\/global\.styles\.scss}line{font-family:\0000396}}
.sf-menu.sf-style-default li, .sf-menu.sf-style-default li.sfHover {
  background: none;
  /*	a{
  		padding: 1em;
  	}*/
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/clevedon\/sites\/all\/themes\/clevedon\/sass\/global\.styles\.scss}line{font-family:\0000398}}
.sf-menu.sf-style-default li:hover, .sf-menu.sf-style-default li.sfHover:hover {
  background: white;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/clevedon\/sites\/all\/themes\/clevedon\/sass\/global\.styles\.scss}line{font-family:\00003101}}
.sf-menu.sf-style-default li li, .sf-menu.sf-style-default li.sfHover li {
  background: #f6f6f6;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/clevedon\/sites\/all\/themes\/clevedon\/sass\/global\.styles\.scss}line{font-family:\00003107}}
.sf-menu.sf-style-default li a, .sf-menu.sf-style-default li a:visited, .sf-menu.sf-style-default li.sfHover a, .sf-menu.sf-style-default li.sfHover a:visited {
  color: #000;
  border: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/clevedon\/sites\/all\/themes\/clevedon\/sass\/global\.styles\.scss}line{font-family:\00003111}}
.sf-menu.sf-style-default li a:focus, .sf-menu.sf-style-default li a:hover, .sf-menu.sf-style-default li a.active, .sf-menu.sf-style-default li.sfHover a:focus, .sf-menu.sf-style-default li.sfHover a:hover, .sf-menu.sf-style-default li.sfHover a.active {
  background: #333333;
  color: #fff;
}

/* Mobile Nav */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/clevedon\/sites\/all\/themes\/clevedon\/sass\/global\.styles\.scss}line{font-family:\00003120}}
#menu-icon {
  display: none;
}

/* =============================================================================
 *   Search results
 * ========================================================================== */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/clevedon\/sites\/all\/themes\/clevedon\/sass\/global\.styles\.scss}line{font-family:\00003128}}
ol.search-results {
  padding: 0;
  margin: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/clevedon\/sites\/all\/themes\/clevedon\/sass\/global\.styles\.scss}line{font-family:\00003131}}
ol.search-results .search-snippet-info {
  padding-left: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/clevedon\/sites\/all\/themes\/clevedon\/sass\/global\.styles\.scss}line{font-family:\00003134}}
ol.search-results .search-result {
  border-bottom: 1px dotted #ccc;
}

/* =============================================================================
 *   Local Directory Views
 * ========================================================================== */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/clevedon\/sites\/all\/themes\/clevedon\/sass\/global\.styles\.scss}line{font-family:\00003144}}
.view-local-directory ul {
  list-style-type: none;
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/clevedon\/sites\/all\/themes\/clevedon\/sass\/global\.styles\.scss}line{font-family:\00003147}}
.view-local-directory ul li {
  margin: 0;
  display: inline-block;
  vertical-align: top;
  width: 200px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/clevedon\/sites\/all\/themes\/clevedon\/sass\/global\.styles\.scss}line{font-family:\00003152}}
.view-local-directory ul li h2 {
  font-size: 1.2em;
  margin: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/clevedon\/sites\/all\/themes\/clevedon\/sass\/global\.styles\.scss}line{font-family:\00003156}}
.view-local-directory ul li .description {
  width: 200px;
  font-size: 85%;
}

/* Accommodation View */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/clevedon\/sites\/all\/themes\/clevedon\/sass\/global\.styles\.scss}line{font-family:\00003168}}
.page-accommodation .view-local-directory li {
  width: 350px;
  margin-right: 20px;
  margin-bottom: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/clevedon\/sites\/all\/themes\/clevedon\/sass\/global\.styles\.scss}line{font-family:\00003172}}
.page-accommodation .view-local-directory li .views-field-field-business-slideshow-images {
  float: right;
  margin-left: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/clevedon\/sites\/all\/themes\/clevedon\/sass\/global\.styles\.scss}line{font-family:\00003176}}
.page-accommodation .view-local-directory li h2 {
  border-bottom: 1px dotted #ccc;
  margin-bottom: 8px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/clevedon\/sites\/all\/themes\/clevedon\/sass\/global\.styles\.scss}line{font-family:\00003180}}
.page-accommodation .view-local-directory li p {
  font-size: 87%;
  margin-bottom: 5px;
  border-bottom: 1px dotted #ccc;
  padding-bottom: 5px;
  width: 183px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/clevedon\/sites\/all\/themes\/clevedon\/sass\/global\.styles\.scss}line{font-family:\00003187}}
.page-accommodation .view-local-directory li .views-field-field-business-phone, .page-accommodation .view-local-directory li .views-field-field-business-address-line1 {
  font-size: 85%;
  color: #777;
}

/* All Businesses View */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/clevedon\/sites\/all\/themes\/clevedon\/sass\/global\.styles\.scss}line{font-family:\00003198}}
.view-a-z-business-lisitings table {
  border: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/clevedon\/sites\/all\/themes\/clevedon\/sass\/global\.styles\.scss}line{font-family:\00003200}}
.view-a-z-business-lisitings table td {
  padding: 3px 6px;
}

/* =============================================================================
 *   Local Directory Node
 * ========================================================================== */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/clevedon\/sites\/all\/themes\/clevedon\/sass\/global\.styles\.scss}line{font-family:\00003211}}
.node-business-lisiting .region-two-66-33-top {
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #ccc;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/clevedon\/sites\/all\/themes\/clevedon\/sass\/global\.styles\.scss}line{font-family:\00003216}}
.node-business-lisiting .region-two-66-33-first {
  padding-right: 30px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/clevedon\/sites\/all\/themes\/clevedon\/sass\/global\.styles\.scss}line{font-family:\00003219}}
.node-business-lisiting .region-two-66-33-second {
  background: #f6f6f6;
  padding: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/clevedon\/sites\/all\/themes\/clevedon\/sass\/global\.styles\.scss}line{font-family:\00003223}}
.node-business-lisiting .region-two-66-33-bottom {
  padding-top: 40px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/clevedon\/sites\/all\/themes\/clevedon\/sass\/global\.styles\.scss}line{font-family:\00003226}}
.node-business-lisiting .group-business-details {
  font-size: 90%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/clevedon\/sites\/all\/themes\/clevedon\/sass\/global\.styles\.scss}line{font-family:\00003228}}
.node-business-lisiting .group-business-details h3 {
  margin-top: 0;
  margin-bottom: 7px;
  border-bottom: 1px solid #ccc;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/clevedon\/sites\/all\/themes\/clevedon\/sass\/global\.styles\.scss}line{font-family:\00003234}}
.node-business-lisiting .field-slideshow {
  width: 528px;
  float: left;
  margin-right: 15px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/clevedon\/sites\/all\/themes\/clevedon\/sass\/global\.styles\.scss}line{font-family:\00003239}}
.node-business-lisiting ul.field-slideshow-pager {
  list-style-type: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/clevedon\/sites\/all\/themes\/clevedon\/sass\/global\.styles\.scss}line{font-family:\00003241}}
.node-business-lisiting ul.field-slideshow-pager li {
  margin: 0;
  margin-right: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/clevedon\/sites\/all\/themes\/clevedon\/sass\/global\.styles\.scss}line{font-family:\00003247}}
.node-business-lisiting .field-name-field-business-description p {
  font-size: 115%;
}

/* =============================================================================
 *   Footer 
 * ========================================================================== */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/clevedon\/sites\/all\/themes\/clevedon\/sass\/global\.styles\.scss}line{font-family:\00003258}}
#footer-wrapper {
  background: #333333;
  margin-top: 50px;
  padding-top: 20px;
  color: #ccc;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/clevedon\/sites\/all\/themes\/clevedon\/sass\/global\.styles\.scss}line{font-family:\00003263}}
#footer-wrapper a {
  color: #fff;
}

/* Secondary Menu */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/clevedon\/sites\/all\/themes\/clevedon\/sass\/global\.styles\.scss}line{font-family:\00003271}}
#block-menu-menu-secondary-menu ul {
  padding: 0;
  text-align: right;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/clevedon\/sites\/all\/themes\/clevedon\/sass\/global\.styles\.scss}line{font-family:\00003274}}
#block-menu-menu-secondary-menu ul li {
  display: inline;
}
