/**
 * @file
 * Field Styling
 */



/* Wrapper for any field */
.field {
}


/* Fields with visible labels use section wrappers */
section.field {
}


/* Fields without lablel use div wrappers */
div.field {
}


/*
 * Field Lables
 */

/* Above and inline classes are on the field wrapper */
.field-label-above  {
}


/* When labels are set to inline in field display settings the clearfix class is automatically added */
.field-label-inline  {
}


/* Lables are h2 in Adaptivetheme. Use a strong selector to mitigate unwanted ineritance issues */
.field .field-label  {
  font-size: 1em;
  font-weight: 700;
  font-family: inherit;
  line-height: inherit;
  margin: 0;
}


/*
 * Field types (Core)
 */

/* Image fields use the <figure> and <figcaption> elements from HTML5 */
.field-type-image {
  margin-bottom: 1.5em;
}


/* The .caption class is applied to all captions regardless of view mode */
.field .caption {
}


/* View mode full. */
.field .full-caption {
}


/* View mode teaser. */
.field .teaser-caption {
}


/* Taxonomy fields are output as an unordered list in Adaptivetheme */
.field-type-taxonomy-term-reference {
  margin-bottom: 1.5em;
}


.field-type-taxonomy-term-reference .field-items {
}


.field-type-taxonomy-term-reference .field-item {
}


/* Restyle the list when the label is inline */
.field-type-taxonomy-term-reference.field-label-inline .field-items {
  margin: 0;
  padding: 0;
}


.field-type-taxonomy-term-reference.field-label-inline .field-item {
  display: inline;
  list-style: none;
  padding: 0 10px 0 0; /* LTR */
}


.field-type-text {
}


.field-type-text-long {
}


.field-type-text-with-summary {
}


.field-type-file {
}


.field-type-number-integer {
}


.field-type-number-decimal {
}


.field-type-number-float {
}


.field-type-list-text {
}


.field-type-list-boolean {
}


.field-type-list-integer {
}


.field-type-list-float {
}


/*
 * Field types (Contrib)
 */

.field-type-datetime {
}


.field-type-node-reference {
}


.field-type-user-reference {
}


/*
 * Named fields
 */

.field-name-body {
}


.field-name-field-image {
}


.field-name-field-tags {
}


/* Your custom fields: underscores in field name are replaced with dashes */
.field-name-field-FIELDNAME {
}


/*
 * Image Alignment Theme Settings
 * These are included here so you can easily override them if required
 */

/* Float none setting */
.ia-n .field-type-image {
}


/* Float left setting */
.ia-l .field-type-image {
  margin: 0.5em 15px 1.5em 0;
}


/* Centered setting */
.ia-c .field-type-image {
  margin: 0.5em auto 1.5em;
}


/* Float right setting */
.ia-r .field-type-image {
  margin: 0.5em 0 1.5em 15px;
}
